@accent: rgb(87, 25, 80); 
@light-background: #E6F3E3;
@overlay: rgb(196, 233, 197);
@button-text:#FFFFFF;
@title-color:#151913;
@text-color:rgb(74, 77, 72);
@form-background:rgba(178, 207, 178, 0.7);
@title-background:rgba(178, 207, 178, 0.7);
@title-background-on:rgba(178, 207, 178, 1);
@footer-background: rgb(196, 233, 197);